
#display_image{
  width: 375px;
  height: 211px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}

#display_image2{
  width: 562px;
  height: 422px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}


.fake_button {
  font: bold;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.to_left {
  float: left;
}

.label_button {
  transition: all 200ms ease;
  color: #00ffb3;

}


html{line-height:1.15;-ms-text-size-adjust:100%;
  -webkit-text-size-adjust:
  100%
}
body{
  margin:0
}
  article,aside,footer,header,nav,section{
    display:block
  }
  h1{
    font-size:2em
  }
  figcaption,figure,main{
    display:block
  }
  figure{
    margin:1em 40px
  }
  hr{box-sizing:content-box;height:0;overflow:visible}
  pre{font-family:monospace, monospace;font-size:1em}
  a{
    background-color:transparent;-webkit-text-decoration-skip:objects
  }
  abbr[title]{
    border-bottom:none;text-decoration:underline;text-decoration:underline dotted
  }
  b,strong{
    font-weight:inherit
  }
  b,strong{
    font-weight:bolder
  }
  code,kbd,samp{
    font-family:monospace, monospace;font-size:1em
  }
  dfn{
    font-style:italic
  }
  mark{
    background-color:#ff0;color:#000
  }
  [type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}
  .div_checkbox{min-width: 200px; display: flex; flex-direction: row;}
  @media all and (min-width: 1400px){.div_checkbox{min-width: 150;}}
  @media all and (min-width: 758){.div_checkbox{min-width: 0;flex-direction: column;}}
  [hidden]{display:none}
  html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,strong,ol,ul,li,form,label,footer,header,menu,nav,output,ruby,section{margin-top:0}
  
  html{font-size:18px;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;scroll-behavior:smooth}

 
 



  .form__group{display:-webkit-box;display:-moz-box;display:box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-lines:multiple;-moz-box-lines:multiple;box-lines:multiple;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-moz-box-align:center;box-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;-ms-flex-align:center;margin:0 0 1rem}
  .form__group:after,.form__group:before{-webkit-flex-basis:0;-moz-flex-basis:0;flex-basis:0;-ms-flex-preferred-size:0;order:1}
  .form__group .input__group{-webkit-flex-grow:1;-moz-flex-grow:1;flex-grow:1;-ms-flex-positive:1;margin-right:1rem}
  @media all and (max-width: 767px){.form__group .input__group{margin-right:0}}
  .form__group .input__group:last-child{margin-right:0}
  @media all and (max-width: 767px){.form__group .button{display:block;width:100%}}
  .form__group .form__notice{margin:0}
  .form__error-msg{display:inline-block;margin:0;color:#E75725;font-size:0.875rem;font-weight:400}
  .form__label+.form__button-group{
  -webkit-align-self:flex-end;-moz-align-self:flex-end;align-self:flex-end;-ms-flex-item-align:end;width:100%;padding-top:1rem
  }
  @media all and (min-width: 480px){
    .form__label+.form__button-group{width:25%;margin-left:1rem;padding-top:0}
  }
  @media all and (max-width: 479px)
  {
    .form__button-group .button{width:100%}
  }
  .form__label-checkbox{font-size:1rem}
  body{font-family:"Roboto",Sans-Serif;font-size:1em;font-weight:400;line-height:1.375rem;text-rendering:optimizeLegibility;text-shadow:0 0 1px transparent;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;word-break:break-word}
  form,input,textarea,label,fieldset,legend,select,optgroup,option,datalist,keygen,output{font-family:"Roboto",Sans-Serif}h1,h2,h3,h4,h5,h6{margin:0 0 1rem;font-family:"Raleway",sans-serif;line-height:1.2}
  h1{font-size:3.36698rem}
  h2{font-size:2.52587rem}
  h3{font-size:1.89487rem}
  h4{font-size:1.42151rem}
  h5{font-size:1.0664rem}
  h6{font-size:0.8rem}
  @media all and (min-width: 768px){h1{font-size:3.78785rem}h2{font-size:2.8416rem}h3{font-size:2.13173rem}h4{font-size:1.5992rem}h5{font-size:1.1997rem}h6{font-size:0.9rem}}
  @media all and (min-width: 992px){h1{font-size:4.20873em}h2{font-size:3.15733em}h3{font-size:2.36859em}h4{font-size:1.77689em}h5{font-size:1.333em}h6{font-size:1em}}
  .page__heading{margin:0 0 1rem;font-family:"Raleway",sans-serif;font-size:2.52587rem;font-weight:400;line-height:1.2}
  @media all and (min-width: 768px){
    .page__heading{font-size:2.8416rem}
  }
  @media all and (min-width: 992px){
    .page__heading{font-size:3.15733em}
  }
  .section__headings{margin:0 0 2rem}
  .section__heading{margin:0;font-family:"Raleway",sans-serif;font-weight:600;line-height:1.2;margin-bottom:1.5rem;color:#fff;font-size:1.8rem}
  @media all and (min-width: 480px){
    .section__heading{font-size:2.2rem}
  }
  
  .sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;white-space:nowrap;overflow:hidden;clip:rect(0, 0, 0, 0);clip-path:inset(50%)}
  .hidden2{display:none !important}

  .sign-in,.sign-up,.express-sign-in,.social-sign-up{padding-top:2rem;padding-bottom:2rem}
  @media all and (min-width: 768px){
    .sign-in,.sign-up,.express-sign-in,.social-sign-up{padding-top:4rem;padding-bottom:4rem}
  }
  .sign-in .page__heading,.sign-up .page__heading,.social-sign-up .page__heading{
    margin-bottom:2rem;text-align:center !important
  }
  .sign-in__container,.sign-up__container,.express-sign-in__container,.social-sign-up__container{position:relative;width:100%;margin:0 auto;padding-right:2rem;padding-left:2rem}
  
  .sign-in__wrapper,.sign-up__wrapper,.express-sign-in__wrapper,.social-sign-up__wrapper{display:-webkit-box;display:-moz-box;display:box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-lines:multiple;-moz-box-lines:multiple;box-lines:multiple;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-moz-box-pack:center;box-pack:center;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;-o-justify-content:center;justify-content:center;-ms-flex-pack:center}
  .sign-in__wrapper:after,.sign-in__wrapper:before,.sign-up__wrapper:after,.sign-up__wrapper:before,.express-sign-in__wrapper:after,.express-sign-in__wrapper:before,.social-sign-up__wrapper:after,.social-sign-up__wrapper:before{-webkit-flex-basis:0;-moz-flex-basis:0;flex-basis:0;-ms-flex-preferred-size:0;order:1}.sign-in__form,.sign-up__form,.express-sign-in__form,.social-sign-up__form{position:relative;width:100%;flex:0 0 100%;max-width:100%}

  .sign-in__form form,.sign-up__form form,.express-sign-in__form form,.social-sign-up__form form{
    margin-bottom:3rem
  }
  .sign-in__form .button-primary,.sign-up__form .button-primary,.express-sign-in__form .button-primary,.social-sign-up__form .button-primary{
    margin:0 auto
  }
  .sign-in__sign-up,.sign-up__sign-in{position:relative;width:100%;flex:0 0 100%;max-width:100%;text-align:center}
  @media all and (min-width: 768px){.sign-in__sign-up,.sign-up__sign-in{position:relative;width:100%;flex:0 0 83.33333%;max-width:83.33333%}}
  @media all and (min-width: 992px){.sign-in__sign-up,.sign-up__sign-in{position:relative;width:100%;flex:0 0 66.66667%;max-width:66.66667%}}
  .sign-in__sign-up a,.sign-up__sign-in a{color:#f5f5f5;font-size:0.875rem}
  .sign-in .remote-sign-up__divider{display:none}
  
  .header{-webkit-transition:background-color 400ms ease,box-shadow 200ms ease;-moz-transition:background-color 400ms ease,box-shadow 200ms ease;transition:background-color 400ms ease,box-shadow 200ms ease;position:relative;border-bottom:1px solid transparent;background-color:#293a62;z-index:301}
  .home-landing-page .header,.course-landing-page .header,.bundle-landing-page .header,.page-template .header,.coming-soon-page .header,.student-dashboard .header,.student-certificate-page .header,.collections-landing-page .header{border-bottom:0}
    
  .header__wrapper{display:-webkit-box;display:-moz-box;display:box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-lines:multiple;-moz-box-lines:multiple;box-lines:multiple;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-moz-box-align:center;box-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;-ms-flex-align:center;-webkit-box-lines:single;-moz-box-lines:single;box-lines:single;-webkit-flex-wrap:nowrap;-moz-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:justify;-moz-box-pack:justify;box-pack:justify;-webkit-justify-content:space-between;-moz-justify-content:space-between;-ms-justify-content:space-between;-o-justify-content:space-between;justify-content:space-between;-ms-flex-pack:justify;position:relative;margin:0}
  .header__wrapper:after,.header__wrapper:before{-webkit-flex-basis:0;-moz-flex-basis:0;flex-basis:0;-ms-flex-preferred-size:0;order:1}
  .header__logo{padding-right:1rem;line-height:1}
  @media all and (max-width: 767px){.header__logo{max-width:12rem}}
  .header__logo a{display:inline-block;text-decoration:none}.header__logo img{width:auto;max-width:initial;max-height:35px}
  @media all and (max-width: 767px){.header__logo img{display:block;max-width:100%;max-height:60px}}.header__school-name{display:inline-block;min-width:12rem;margin-bottom:0;font-size:1.5rem;font-weight:300;line-height:1}
  .header__school-name a{color:#00FFB2}
  [data-menu-style="floating"] .header__school-name a{color:#00FFB2}[data-menu-style="floating"] .header__school-name a:active,[data-menu-style="floating"] .header__school-name a:hover{color:#00cc8e}.header__nav{width:100%}
  @media all and (max-width: 767px){.header__nav{display:block;position:absolute;top:160%;left:0;width:100%;margin:0;box-shadow:0 2px 16px 0 rgba(0,0,0,0.1);opacity:0;overflow:hidden;visibility:hidden;z-index:-9999}
  .header__nav .header__nav-item{display:block}
  .header__nav .header__nav-item a,.header__nav .header__nav-item button{display:block;padding:8px 16px;color:#fff;font-weight:500;text-align:center;text-decoration:none}
  .header__nav .header__nav-item a:active,.header__nav .header__nav-item a:hover,.header__nav .header__nav-item button:active,.header__nav .header__nav-item button:hover{background-color:#212f50;color:#fff}.header__nav .header__nav-item .dropdown__toggle-button{display:none}}
  @media all and (min-width: 768px){.header__nav.header__nav--left>ul{text-align:left}.header__nav.header__nav--left .header__logo{padding-right:3rem}
  .header__nav.header__nav--left .dropdown,.header__nav.header__nav--left .header__nav-sign-in{float:right}
  .header__nav.header__nav--left .dropdown__menu{right:-10px}}
  @media all and (min-width: 992px){.header__nav.header__nav--left.header__nav--has-cta .header__nav-sign-in{position:relative;top:0.5rem}}
  .header__nav>ul{text-align:right}
  @media all and (min-width: 768px){.header__nav>ul>li:first-child{margin-left:0}}[data-menu-style="floating"]{position:absolute;top:0;left:0;width:100%;background-color:transparent}.student-dashboard [data-menu-style="floating"],.collections-landing-page [data-menu-style="floating"]{position:relative}.student-dashboard [data-menu-style="floating"].fixed,.collections-landing-page [data-menu-style="floating"].fixed{position:sticky}[data-menu-style="floating"] ~ .home>section:first-of-type,[data-menu-style="floating"] ~ .course>section:first-of-type,[data-menu-style="floating"] ~ .bundle>section:first-of-type,[data-menu-style="floating"] ~ .coming-soon>section:first-of-type,[data-menu-style="floating"] ~ .student-certificate>section:first-of-type,[data-menu-style="floating"] ~ .custom>section:first-of-type{padding-top:66px}
  @media all and (max-width: 767px){[data-menu-type="header__nav--dropdown"].header[data-menu="open"] .header__nav{-webkit-transition:opacity 400ms ease,visibility 400ms ease,z-index 400ms ease;-moz-transition:opacity 400ms ease,visibility 400ms ease,z-index 400ms ease;transition:opacity 400ms ease,visibility 400ms ease,z-index 400ms ease;opacity:1;visibility:visible;z-index:302}[data-menu-type="header__nav--dropdown"].header .header__nav{-webkit-transition:opacity 400ms ease,visibility 400ms ease,z-index 400ms ease;-moz-transition:opacity 400ms ease,visibility 400ms ease,z-index 400ms ease;transition:opacity 400ms ease,visibility 400ms ease,z-index 400ms ease}}
  @media all and (max-width: 767px){
    [data-menu-type="header__nav--overlay"]
    .header[data-menu="open"]{-webkit-transition:background-color 200ms ease,opacity 400ms ease,visibility 400ms ease,z-index 400ms ease;-moz-transition:background-color 200ms ease,opacity 400ms ease,visibility 400ms ease,z-index 400ms ease;transition:background-color 200ms ease,opacity 400ms ease,visibility 400ms ease,z-index 400ms ease;position:fixed;top:0;width:100%;height:100%;background-color:#293a62 !important;z-index:302}
    [data-menu-type="header__nav--overlay"].header[data-menu="open"] .header__nav{padding-top:2rem;box-shadow:none;opacity:1;visibility:visible}
    [data-menu-type="header__nav--overlay"].header[data-menu="open"] .header__school-name a{color:#fff}[data-menu-type="header__nav--overlay"]
    .header[data-menu="open"] .header__mobile-button{z-index:303}
    [data-menu-type="header__nav--overlay"].header[data-menu="open"] .header__mobile-button span:before,[data-menu-type="header__nav--overlay"].header[data-menu="open"] .header__mobile-button span:after{background-color:#fff}
  }
  .header__nav-item{display:inline-block;font-size:0.75019em;letter-spacing:1px;text-align:center;text-transform:uppercase}
  @media all and (min-width: 768px){.header__nav-item{margin-left:2rem}
  .header__nav-item.dropdown{margin-right:10px}
  .header__nav-item>a,.header__nav-item>button{color:#00FFB2;font-weight:500;text-decoration:none}}
  @media all and (min-width: 768px) and (max-width: 767px){.header__nav-item>a,.header__nav-item>button{display:inline-block;background-color:transparent;font-family:"Raleway",sans-serif;font-size:1.333em;text-transform:none}
  .header__nav-item>a:after,.header__nav-item>button:after{display:block;position:relative;top:-5px;width:100%;height:2px;background-color:transparent;content:"";opacity:0.6}
  .header__nav-item>a:active:after,.header__nav-item>a:hover:after,.header__nav-item>button:active:after,.header__nav-item>button:hover:after{background-color:#fff}}
  @media all and (min-width: 768px){[data-menu-style="floating"] .header__nav-item>a,[data-menu-style="floating"] .header__nav-item>button{color:#00FFB2}.header__nav-item>a:active,.header__nav-item>a:hover,.header__nav-item>button:active,.header__nav-item>button:hover{color:#fff}
  [data-menu-style="floating"] .header__nav-item>a:active,[data-menu-style="floating"] .header__nav-item>a:hover,[data-menu-style="floating"] .header__nav-item>button:active,[data-menu-style="floating"] .header__nav-item>button:hover{color:#00cc8e}}
  .user-signed-in .dropdown__menu .header__nav-item--default{display:none}
  
  .header__mobile-button{position:relative;width:24px;height:24px;padding:0;border:0;background-color:transparent}
  @media all and (min-width: 768px){.header__mobile-button{display:none}}
  .header__mobile-button:hover .header__mobile-button__toggle-icon span,.header__mobile-button:active .header__mobile-button__toggle-icon span{background-color:#fff}.header__mobile-button:hover .header__mobile-button__toggle-icon span:before,.header__mobile-button:hover .header__mobile-button__toggle-icon span:after,.header__mobile-button:active .header__mobile-button__toggle-icon span:before,.header__mobile-button:active .header__mobile-button__toggle-icon span:after{background-color:#fff}
  .header__mobile-button__label{-webkit-transform:translatex(-50%);-moz-transform:translatex(-50%);-ms-transform:translatex(-50%);-o-transform:translatex(-50%);transform:translatex(-50%);display:block;position:absolute;left:50%;width:max-content;margin-top:2px;color:#00FFB2;font-size:0.6rem;line-height:normal;text-align:center;text-transform:uppercase;cursor:pointer}[data-menu-style="floating"] .header__mobile-button__label{color:#00FFB2}
  
  .rich-text__wrapper{
    display:-webkit-box;display:-moz-box;display:box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-lines:multiple;-moz-box-lines:multiple;box-lines:multiple;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-1rem;margin-left:-1rem;padding-right:0;padding-left:0;-webkit-box-align:center;-moz-box-align:center;box-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;
    -o-align-items:center;align-items:center;-ms-flex-align:center;-webkit-box-pack:center;-moz-box-pack:center;box-pack:center;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;-o-justify-content:center;justify-content:center;-ms-flex-pack:center}
  .rich-text__wrapper:after,.rich-text__wrapper:before{-webkit-flex-basis:0;-moz-flex-basis:0;flex-basis:0;-ms-flex-preferred-size:0;order:1}
  
  
  body{display:-webkit-box;display:-moz-box;display:box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-moz-box-orient:vertical;box-orient:vertical;-webkit-box-direction:normal;-moz-box-direction:normal;box-direction:normal;-webkit-flex-direction:column;-moz-flex-direction:column;flex-direction:column;-ms-flex-direction:column;position:relative;height:100vh;margin:0;padding:0;background-color:#182B56;color:#f5f5f5;overflow-x:hidden}
  .button{-webkit-transition:all 200ms ease,font-size 200ms ease;-moz-transition:all 200ms ease,font-size 200ms ease;transition:all 200ms ease,font-size 200ms ease;display:inline-block;padding:0.5rem 1rem;border:2px solid transparent;border-radius:100px;font-family:"Roboto",Sans-Serif;font-size:1em;font-weight:500;line-height:normal;text-align:center;text-decoration:none;cursor:pointer}
  .button-primary{border:2px solid #00FFB2;background-color:#00FFB2;color:#182B56}

  
  header.header .header__logo___2909e img {
  max-height: none; width: 7rem; height: auto;
  }
  .header__container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}
  

  @media (min-width:1024px){
    .sign-in__container{padding-left:6rem;padding-right:6rem}

  }
